/* Add this to your CSS file */

.navbar {
    background-color: #00274c; /* University of Michigan blue */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 90px;
}

.navbar .home-link img {
    width: auto; /* Adjust as necessary for your SVG */
    height: 80px; /* Adjust if necessary to fit the navbar height */
    margin-left: 70px;
}

.navbar a {
    color: white;
    padding-left: 15px;
    font-size: 28px;
    font-weight: bold;

}

.navbar .nav-links {
    margin-left: auto; /* Pushes the links to the right */
    padding-right: 70px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding-left: 2rem; /* Space between links */
    /* Additional styling for links */
}

.navbar .nav-links a:hover {
    text-decoration: underline; /* Example hover effect */
}

/* Media queries if necessary for responsiveness */




/********/

.layout {
    min-height: 100vh; /* Full height layout */
}

.site-layout-content {
    max-width: 1200px; /* Max width for content */
    margin: 100px auto; /* Centered with space top and bottom */
    text-align: center; /* Center text */
}

.site-layout-content img {
    padding-bottom: 20px;
}

.site-layout-content p {
    font-size: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 25px;
}


/* Overriding Ant Design styles */

.ant-layout-header {
    display: flex;
    justify-content: space-between; /* Spacing for menu and logo */
    align-items: center;
    padding: 0 50px; /* Padding to not stick to the edges */
}

.ant-menu-dark.ant-menu-horizontal {
    background: transparent; /* Transparent background for the menu */
}

.ant-menu-item {
    margin: 0 10px; /* Space between menu items */
}

.ant-layout-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.ant-input-affix-wrapper > .ant-input {
    height: 40px; /* Height of the search input */
}

.ant-input-affix-wrapper .ant-input-suffix {
    right: 11px; /* Adjust the position of the suffix icon */
}

.ant-btn-primary {
    height: 40px; /* Height of the search button */
    vertical-align: top; /* Align the search button correctly */
}

.ant-layout-footer {
    /*background: #f0f2f5; !* Footer background color *!*/
    color: rgba(0, 0, 0, 0.45); /* Footer text color */
    text-align: center; /* Center footer text */
    padding: 24px 50px; /* Padding for footer */
}

.ant-layout-footer img{
    padding-bottom: 20px;
}

/* Add responsive adjustments if necessary */

@media (max-width: 768px) {
    .ant-layout-header,
    .ant-layout-footer {
        padding: 0 20px; /* Smaller padding on mobile */
    }

    .site-layout-content {
        margin: 50px auto; /* Less space on top and bottom on mobile */
    }
}
