.HomePageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    flex: 1; /* This will push the footer down */
    /* Rest of your content styling */
    padding-top: 150px;
}

.content img{
    width: 400px;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #333;
    font-size: 14px;
}


.footer-img {
    max-width: 200px;
    margin-bottom: 10px;
}