.HomePageContainer {
    /* background: linear-gradient(114.78deg, rgba(245, 247, 255, 0.5) -9.46%, rgba(226, 232, 254, 0.5) 46.27%, rgba(242, 245, 254, 0.5) 105.72%); */
    /* Linear gradient background */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    /* Changed to 100vh for full viewport height */
    overflow-y: auto;
    position: relative;
    /* background-color: #DCE3FF; */
}

.HomePageInner {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    /* Changed to 100vh for full viewport height */
    overflow-y: auto;
    position: relative;
    /* background-color: #DCE3FF; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 1100px;
    /* flex: 1; */
    padding-top: 50px;
    /* Increased padding-top to move content lower */
    padding: 20px;
    justify-content: center;
    /* overflow-y: auto; */
}

.search-bar {
    padding-left: 2%;
    padding-right: 2%;
}

@media (min-width: 1200px) {
    .search-bar {
        padding-left: 6%;
        padding-right: 6%;
    }
}

.footer {
    align-items: center;
    padding: 0px;
    color: #333;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 5px;
}


.footer-img {
    max-width: 200px;
    margin-bottom: 10px;
}

.navigation-bar {
    position: relative;
    z-index: 1000;
    /* Ensure the navbar is above the Joyride overlay */
}

.joyride-overlay {
    position: fixed !important;
    /* 确保覆盖层固定在视口内 */
    z-index: 10000 !important;
    /* 确保覆盖层在最顶层 */
}

.search-chat-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 960px;
    /* Set a max-width for the search section */
    margin: 0 auto;
    /* Center the search section */

}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    /* 设置圆角 */
    max-width: '883px';
}

.info-card-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: auto;
    width: 100%;
    min-height: 100px;
}

.example-query-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-bottom: 10px;
    white-space: normal;
    padding: 16px;
    text-align: left;
    color: black;
    background-color: #F4F6FE;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    flex: 1;
    border-radius: 8px;
    justify-content: flex-start !important;
    align-items: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.example-query-button:hover {
    background-color: #C4CCFE;
    /* Change to a lighter shade on hover */
}

/* Add styles for the navigation bar */
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Adjust content to account for fixed nav bar */
.content {
    margin-top: 60px;
    /* Height of the nav bar */
}

.glkb-introduction {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    max-width: 750px;
    margin: 20px auto;
    text-align: justify;
    padding: 0 20px;
}

.glkb-introduction p {
    margin-bottom: 10px;
}

.glkb-introduction a {
    color: #007bff;
    text-decoration: none;
}

.glkb-introduction a:hover {
    text-decoration: underline;
}

@media (max-height: 600px) {
    .content {
        padding-top: 60px;
        /* Adjust this value as needed */
    }
}