all {
    font-family: 'Mundial' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 15px !important;
}

.information {
    position: fixed;
    top: 100px;
    right: -33vw;
    height: 45vh;
    width: 25vw;
	/* margin-right: 2vw; */
	/* border-radius: 21px; */
    opacity: 0.95;
    transition: right 0.3s ease-in-out;
    background-color: #F7F7F7;
     /*background-color: red; */
}

/* Smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {
    .information {
        width: 20vw; /* Larger width for smaller screens */
        right: -33vw; /* Adjust right position accordingly */
        top: 10vh; /* Adjust position as needed */
        height: 80vh; /* Adjust height as needed */
    }
}

/* Larger screens */
@media (min-width: 1200px) {
    .information {
        width: 25vw; /* Smaller width for larger screens */
        right: -33vw; /* Adjust right position accordingly */
        /* You can adjust height, top, and other properties as needed */
    }
}

.information-button {
    position: fixed;
    top: 20vh;
    right: 0;
    z-index: 1;
    opacity: 0.95;
    transition: right 0.3s ease-in-out;
}
.information-button.open {
    right: 25vw;
}
.information.open {
	right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.article-container {
    margin: 3%;
    height: 45vh;
}

.edge-article-container {
    margin: 3%;
    height: 25vh;
}

.article-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin: 10px;
}

.article-authors {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
}

.article-id {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #464BBF;
}

.abstract-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.abstract-content {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.term-container {
    margin: 3%;
    position: fixed;
}

.termTitle {
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 600;
    /* font-size: 13.3151px; */
    font-size: 15px;
    line-height: 13px;
    position: fixed;
}

.termContent {
    position: fixed;
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 300;
    /* font-size: 13.3151px; */
    font-size: 15px;
    /* line-height: 13px; */
}

.termClass {
    /* margin: 3%; */
    /* margin-top: 5%; */
    position: fixed;
    margin-bottom: 3%;
}

.related {
    position: fixed;
    top: 58vh;
    right: -33vw;
    height: 42vh;
    width: 25vw;
	/* margin-right: 2vw; */
	/* border-radius: 21px; */
    opacity: 0.95;
    transition: right 0.3s ease-in-out;
    background-color: #F7F7F7
}
.related.open {
	right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-descriptions .ant-descriptions-title {
    font-size: 18px;
    font-weight: bold;
}

.custom-descriptions .ant-descriptions-item-label {
    width: 20%;
}

.custom-descriptions .ant-descriptions-item-content {
    width: 70%;
}

.custom-descriptions {
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
}

.custom-div-edge {
    /*margin: 1px; !* Adjusts the space outside the div *!*/
    padding: 0; /* Adjusts the space inside the div */
    border: none;
    margin-bottom: -13px;
}

.custom-div-url {
    padding: 0; /* Adjusts the space inside the div */
    border: none;
    margin-bottom: -17px;
}