.sub-navigation-bar {
    display: inline-flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0.3rem 0.2rem;
    font-size: clamp(12px, 2vw, 16px);
    background-color: white;
    /* margin-top: 120px; */
    /* margin-bottom:5px; */
    gap: 0.5rem;
    border-radius: 100px;
    box-shadow: 0px 1px 3px 1px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004D;
}


button {

    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
    border: 0px;
    border-radius: 100px;

}

#subnavbarbutton {
    width: 120px;
    height: 40px;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #D3D5FF;
}

.nonactive:hover {
    background-color: #d3d5ffad;
    color: black;
}