.article-container {
    margin-left: 0.875%;
    margin-right: 0.875%;
}

.article-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    line-height: 25px;
}

.article-authors {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 0;
}

.article-authors p {
    margin-bottom: 0;
}

.article-id {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0.58%;
    line-height: 23px;
    color: #464BBF;
}

.article-id p {
    margin-bottom: 1%;
}

.highlight-selector {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1964px;
    line-height: 18px;
}

.abstract-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
}

.abstract-content {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    height: 21vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.abstract-content::-webkit-scrollbar {
    display: none;
}

.Entities {
    box-sizing: border-box;
    background: #EEEEEE;
    border: 0.833333px solid #C7C7C7;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24.1667px;
    line-height: 30px;
    text-align: center;
    color: #505050;
    /* float: left; */
    /* width: 50%; */
}

.Citation {
    box-sizing: border-box;
    background: #EEEEEE;
    border: 0.833333px solid #C7C7C7;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24.1667px;
    line-height: 30px;
    text-align: center;
    color: #505050;
    /* float: right; */
    /* width:50% */
}

.genesHighlight {
    background-color: #6699CC;
}

.anatomyHighlight {
    background-color: #99CCFF;
}

.chemicalsHighlight {
    background-color: #CCCCFF;
}

.goHighlight {
    background-color: #99CCCC;
}

.diseasesHighlight {
    background-color: #CCFF99;
}

.organismsHighlight {
    background-color: #99CC99;
}