all {
    font-family: 'Mundial' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 15px !important;
}

.settings {
    position: fixed;
    top: 22vh;
    left: -33vw;
    height: 22vh;
    width: 30vw;
    margin-left: 2vw;
    padding: 1%;
    border-radius: 21px;
    z-index: 1;
    opacity: 0.95;
    transition: left 0.3s ease-in-out;
    background-color: #F8F8F8;

}

.settings-button {
    position: fixed;
    top: 20vh;
    left: 0;
    z-index: 1;
    opacity: 0.95;
    transition: left 0.3s ease-in-out;
}
.settings-button.open {
    left: 24vw;
}
.settings.open {
	left: -1vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-width: 300px) {
    .setting.open {
        min-width: 300px; /* Set your desired minimum width */
    }
}

.ant-transfer-list-header-selected {
    display: none;
}

.table {
    position: fixed;
    bottom: -260px;
}

.table.open {
    bottom: 0vh;
}

.legend-container {
    display: flex;
    flex-direction: column;
  }
  
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legend-circle {
    border-radius: 50%;
    margin-right: 8px;

}

.legend-label {
    font-size: 14px;
}


.existNodeTableClass {
    position: fixed;
    bottom: 200px;
}