all {
    font-family: 'Mundial' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 15px !important;
}

.settings {
    position: fixed;
    top: 100px;
    left: -33vw;
    height: 100vh;
    width: 25vw;
	  /* margin-left: 2vw; */
    padding: 1%;
	/* border-radius: 21px; */
    z-index: 1;
    opacity: 0.95;
    transition: left 0.3s ease-in-out;
    background-color: #F8F8F8;

}

.settings-button {
    position: fixed;
    top: 20vh;
    left: 0;
    z-index: 1;
    opacity: 0.95;
    transition: left 0.3s ease-in-out;
}
.settings-button.open {
    left: 24vw;
}
.settings.open {
	left: -1vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-width: 300px) {
    .setting.open {
        min-width: 300px; /* Set your desired minimum width */
    }
}

.ant-transfer-list-header-selected {
    display: none;
}

.table {
    position: fixed;
    bottom: -260px;
}

.table.open {
    bottom: 0vh;
}

.legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 24.5vw;
    right: 0;
    background-color: #f0f0f0;
    padding: 10px;
    width: 50vw;
    border-radius: 21px;
}

.legend-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.legend-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.legend-column {
    margin: 10px; /* Adjust margin as needed */
}

  
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 8px;
}

.legend-circle {
    border-radius: 50%;
    margin-right: 8px;
}

.legend-triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 15px solid #A9A9A9;
    margin-right: 8px;
}

.legend-label {
    font-size: 14px;
}
  